@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #d26558 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #d26558 -13.86%, #F49867 99.55%);
  
  --color-bg: #F7DBCE;
  --color-footer : #F7DBCE;
  --color-blog: #042c54;
  --color-text: #dc8777;
  --color-subtext: #FF8A71;
}
